<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.letstart.extlib" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <activity
            android:name=".MainClassAct"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="com.letstart.trygr.START_APP2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
